<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="maximum-scale = 1.0, user-scalable = no, width = device-width, initial-scale = 1.0")
    title LIVE4 GoPro stream
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="player/styles.css")
    script(src="player/Live4PlayerController.js")
  body.live4gopro-stream

    article
      .live4player(data-id="")
        .live4player-base
        video.live4player-video(
          width="100%",
          height="100%",
          preload="metadata",
          fullscreenEnabled
          )
        .live4player-watermark
        .live4player-loading-screen
          .live4player-loading-screen-icon
        .live4player-navigation
          .live4player-navigation-progressbar
            img.live4player-navigation-progressbar-heatmap(alt="heat map")
            .live4player-navigation-progressbar-seekable
            .live4player-navigation-progressbar-progress
          .live4player-navigation-play
          .live4player-navigation-pause
          .live4player-navigation-mute
          .live4player-navigation-unmute
          .live4player-navigation-fson
          .live4player-navigation-fsoff
          .live4player-navigation-time
            .live4player-navigation-time-current
            .live4player-navigation-time-separator /
            .live4player-navigation-time-duration

      .details
        p.geo Horkoho Street, 33, Kiev, Kyiv city, Ukraine
        time(datetime="2014-09-30T03:20") Started 20 hrs ago
        nav
          a.fb(href="http://www.facebook.com/sharer.php?u=http://live4.io/stream/597722146/GOPRO20140930170532.MP4&t=Best%20Video%20Ever") Facebook
          a.tw(href="https://twitter.com/share?url=http://live4.io/stream/597722146/GOPRO20140930170532.MP4&text=Best%20Video%20Ever") Twitter
          a.copy(href="http://live4.io/stream/597722146/GOPRO20140930170532.MP4") Copy link

    article
      .live4player(data-id="")
        .live4player-base
        video.live4player-video(
          width="100%",
          height="100%",
          preload="metadata",
          fullscreenEnabled
          )
        .live4player-watermark
        .live4player-loading-screen
          .live4player-loading-screen-icon
        .live4player-navigation
          .live4player-navigation-progressbar
            img.live4player-navigation-progressbar-heatmap(alt="heat map")
            .live4player-navigation-progressbar-seekable
            .live4player-navigation-progressbar-progress
          .live4player-navigation-play
          .live4player-navigation-pause
          .live4player-navigation-mute
          .live4player-navigation-unmute
          .live4player-navigation-fson
          .live4player-navigation-fsoff
          .live4player-navigation-time
            .live4player-navigation-time-current
            .live4player-navigation-time-separator /
            .live4player-navigation-time-duration

      .details
        p.geo Horkoho Street, 33, Kiev, Kyiv city, Ukraine
        time(datetime="2014-09-30T03:20") Started 20 hrs ago
        nav
          a.fb(href="http://www.facebook.com/sharer.php?u=http://live4.io/stream/597722146/GOPRO20140930170532.MP4&t=Best%20Video%20Ever") Facebook
          a.tw(href="https://twitter.com/share?url=http://live4.io/stream/597722146/GOPRO20140930170532.MP4&text=Best%20Video%20Ever") Twitter
          a.copy(href="http://live4.io/stream/597722146/GOPRO20140930170532.MP4") Copy link